@font-face {
    font-family: font;
    src: url(Gilroy-Regular.ttf);
}

@font-face {
    font-family: fontb;
    src: url(Gilroy-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font;
}

body, html {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background-color: white;
}

.loader {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #111;
    color: white;
}

.loader .tophead {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.tophead h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
}

.loader h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 4vw;
    font-weight: 300;
}

.reveal .parent {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
}

.reveal .parent .child {
    display: block;
    /* transform: translateY(50%); */
}

.parent .child span {
    display: inline-block;
}

.green {
    /* display: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    background: #14cf93;
}

.home {
    width: 100%;
    height: 200vh;
    background-color: #ffffff5e;
}

.home .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    width: 100%;
    height: 100px;
}

.home .nav a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    color: black;
}

.nav a .line {
    position: absolute;
    left: 0;
    bottom: 0 ;
    display: inline-block;
    width: 100%;
    height: 1px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: black;
}

.nav a:hover .line {
    width: 0;
}

.row {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #333;
    padding: 0 5vw;
}

.row h1 {
    font-size: 12.8vw;
    font-weight: 600;
}

.row .text {
    margin-top: 4vw
}

.row h5 {
    display: flex;
    flex-direction: column;
    opacity: .6;
    font-weight: 400;
    font-size: 13px;
}
